/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes wobble {
    0% {
      top: 35%;
    }
    50% {
      top: 43%;
    }
    100% {
      top: 35%;
    }
  }
}
